# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

*.txt text
*.c text
*.h text
*.cpp text
*.hpp text
*.lua text
*.md text
*.html text
*.js text
*.css text
*.ts text
*.tl text
*.fnl text

*.sh text eol=lf
*.cmd text eol=crlf

*.png binary
*.jpg binary
*.bmp binary
*.mp3 binary
*.wav binary
*.ogg binary
*.ttf binary

