.vs/
.idea/
[Bb]in/
[Dd]ebug/
[Rr]elease/
ipch/
obj/
out/
xcuserdata/
DerivedData/
CMakeFiles/
CMakeScripts/
cmake-build-debug/
cmake-build-*/
_ReSharper*/

history.txt
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
GPATH
GRTAGS
GTAGS

.fips-*
*~
*.log
*.db
*.opendb
*.exe
*.dll
*.o
*.a
*.lib
*.bc
*.so
*.so.*
*.sbr
*.sdf
*.opensdf
*.db
*.opendb
*.swp
*.swo
*.pdb
*.aps
*.user
*.vspscc
*_i.c
*.i
*.icf
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.pyc

.vscode
/build
/out
